<md-sidenav  class="md-sidenav-left" md-component-id="left"
             md-whiteframe="4" layout-fill layout="column">

    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">More</h1>
    </md-toolbar>


        <md-list flex="100" layout-fill>
            <md-list-item >
                <md-button flex layout-align="start center">
                    Offers
                </md-button>
            </md-list-item >
            <md-list-item>
                <md-button>
                    Payment
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button>
                    Activity
                </md-button>
            </md-list-item>
        </md-list>

</md-sidenav>