<div class="md-whiteframe-3dp" layout>
    <div flex="20" layout layout-align="center center">
        <md-button class="md-icon-button" ui-sref="home">
            <md-icon>
                <i class="fa fa-home"></i>
            </md-icon>
        </md-button>
    </div>
    <div flex="20" layout layout-align="center center">
        <md-button class="md-icon-button" ui-sref="messages">
            <md-icon>
                <i class="fa fa-comments"></i>
            </md-icon>
        </md-button>
    </div>
    <div flex="20" layout layout-align="center center">
        <md-button class="md-icon-button" >
            <md-icon>
                <i class="fa fa-search"></i>
            </md-icon>
        </md-button>
    </div>
    <div flex="20" layout layout-align="center center">
        <md-button class="md-icon-button" >
            <md-icon>
                <i class="fa fa-bell"></i>
            </md-icon>
        </md-button>
    </div>
    <div flex="20" layout layout-align="center center">
        <md-button class="md-icon-button" ui-sref="general">
            <md-icon>
                <i class="fa fa-gear"></i>
            </md-icon>
        </md-button>
    </div>
</div>