<md-list>
    <md-list-item class="md-3-line" ng-click="null">
        <img src="img/01.jpg" class="md-avatar" alt="{{item.who}}" />
        <div class="md-list-item-text" layout="column">
            <h3>Min Li Chan</h3>
            <h4>Brunch this weekend</h4>
            <p>I'll be in your neighborhood doing errands</p>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item class="md-3-line" ng-click="null">
        <img src="img/01.jpg" class="md-avatar" alt="{{item.who}}" />
        <div class="md-list-item-text" layout="column">
            <h3>Min Li Chan</h3>
            <h4>Brunch this weekend</h4>
            <p>I'll be in your neighborhood doing errands</p>
        </div>
    </md-list-item>
    <md-divider></md-divider>

    <md-list-item class="md-3-line" ng-click="null">
        <img src="img/01.jpg" class="md-avatar" alt="{{item.who}}" />
        <div class="md-list-item-text" layout="column">
            <h3>Min Li Chan</h3>
            <h4>Brunch this weekend</h4>
            <p>I'll be in your neighborhood doing errands</p>
        </div>
    </md-list-item>    <md-divider></md-divider>

    <md-list-item class="md-3-line" ng-click="null">
        <img src="img/01.jpg" class="md-avatar" alt="{{item.who}}" />
        <div class="md-list-item-text" layout="column">
            <h3>Min Li Chan</h3>
            <h4>Brunch this weekend</h4>
            <p>I'll be in your neighborhood doing errands</p>
        </div>
    </md-list-item>    <md-divider></md-divider>

    <md-list-item class="md-3-line" ng-click="null">
        <img src="img/01.jpg" class="md-avatar" alt="{{item.who}}" />
        <div class="md-list-item-text" layout="column">
            <h3>Min Li Chan</h3>
            <h4>Brunch this weekend</h4>
            <p>I'll be in your neighborhood doing errands</p>
        </div>
    </md-list-item>
</md-list>
